<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="style.css">
    <meta name="robots" content="noindex">
</head>

<body class="overscroll-none">
    <span id="server-url" class="hidden">{{ .Global.Collections.Server.Store.URL }}</span>

    {{.Content}}
    <script src="./script.js"></script>

</body>

</html>